@{
    ViewData["Title"] = "A propos";
}
<h2>@ViewData["Title"]</h2>

<p>Projet de gestionnaire de bandes dessinées destinés à illustrer une série d'article technique de mon blog (<a href="https://anceret-matthieu.fr" target="_blank">https://anceret-matthieu.fr</a>).</p>

<hr />

<h2>Contact</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>