<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComicsManager.BackOffice</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendors/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/vendors/css/dropzone.min.css" />
        <link rel="stylesheet" href="~/vendors/css/boostrap-select.min.css" />
        <link rel="stylesheet" href="~/vendors/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/vendors/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/vendors/css/dropzone.min.css" />
        <link rel="stylesheet" href="~/vendors/css/boostrap-select.min.css" />
        <link rel="stylesheet" href="~/vendors/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <!-- TODO: Logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <!-- TODO: Menu en mode mobile -->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Comics" asp-action="Index">Bandes-dessinées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Authors" asp-action="Index">Auteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Editors" asp-action="Index">Editeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Genres" asp-action="Index">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">A propos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Rechercher...">
                <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ComicsManager</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/vendors/js/vendors.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/vendors/js/vendors.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
